<html>
<head>
<title><%= title %> - JakeMadeThis</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="assets/jquery.color.js"></script>
<link rel="stylesheet" href="assets/style.css" />
<script src="assets/script.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31265649-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>

<div id="container">
  <div class="row">
    <div class="left side">
      <ul class="nav" data-hover-color="#aa00ff">
        <li><a href="home.html">jakemadethis</a></li>
        <li><a href="blog.html">blog</a></li>
        <li><a href="projects.html">projects</a></li>
        <li><a href="experiments.html">experiments</a></li>
      </ul>
      <% if has_tags? then %>
      <ul class="tags" data-hover-color="#00aaff">
      <% tags.each do |tag| %>
       <li><a href="<%= tag %>.html"><%= tag %></a></li>
      <% end %>
      </ul>
      <% end %>
    </div>
    <div class="center" data-hover-color="#ff6600">
      
      <div id="header">
        <h1><%= title %></h1>
      </div>
      <div id="page">
        <%= to_html %>
      </div>

      <% if name == 'blog' %>
        <ul id="childlist">
        <% child_posts.group_by(&:monthly).each do |date, posts| %>
          <%= date %>
          <% posts.each do |post| %>
          <li>
            <a href="<%= post.name %>.html">
              <h2><%= post.title %></h2>
              <% if post.has_arg? :excerpt %><p><%= post.args[:excerpt] %></p><% end %>
            </a>
          </li>
          <% end %>
        <% end %>
        </ul>
      <% elsif has_pages? then %>
        <ul id="childlist">
        <% child_pages.each do |child| %>
          <li>
            <a href="<%= child.name %>.html">
              <h2><%= child.title %></h2>
              <% if child.has_arg? :excerpt then %><p><%= child.args[:excerpt]%></p><% end %>
            </a>
          </li>
        <% end %>
        </ul>
      <% end %>


      <div id="footer" class="row">
          jakemadethis
      </div>

    </div>
    <div class="right side" data-hover-color="#ff6600">
      <% if blog_post? then %>
        <p>
          Written on <%= date %>
        </p>
      <% end %>
      <% if has_posts? && name != 'blog' then %>
        <div>
        <h1>Blog Posts</h1>
        <ul>
        <% child_posts.each do |post| %>
          <li><a href="<%= post.name %>.html"><%= post.title %></a></li>
        <% end %>
        </ul>
      </div>
      <% end %>
    </div>

  </div>
  <div class="clear"></div>
</div>

</body>
</html>